<link rel="stylesheet" type="text/css" href="../css/header.css">
<header>
	<a href="../main/index.html"><img src="../image/head.png" alt=""></a>
<p>
	<select onchange="location.href = this.options[selectedIndex].value">
		<option value="../main/index.html">トップページ</option>
		<option value="../member/regist.html">会員登録</option>
		<option value="../member/search">会員検索</option>
		<option value="../rental/form">資料貸出</option>
		<option value="../return/form">資料返却</option>
		<option value="../document/regist">資料登録</option>
		<option value="../document/search">資料検索</option>
	</select>
</p>
</header>