<link rel="stylesheet" type="text/css" href="../css/main.css">
<link rel="stylesheet" type="text/css" href="../css/indexbutton.css">
<main>
	<div class="content">
		<h1>会員管理</h1>
		<ul>
			<li><button onclick="location.href='../member/regist.html'">会員登録</button></li>
			<li><button onclick="location.href='../member/search'">会員検索</button></li>
		</ul>
	</div>
	<div class="content">
		<h1>資料・貸出返却管理</h1>
		<ul>
			<li><button onclick="location.href='../rental/form'">資料貸出</button></li>
			<li><button onclick="location.href='../return/form'">資料返却</button></li>
			<li><button onclick="location.href='../document/regist'">資料登録</button></li>
			<li><button onclick="location.href='../document/search'">資料検索</button></li>
		</ul>
	</div>
</main>