button {
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    width: 200px;
    color: #369;
    background: #EEF;
    border: solid 2px #369;
    border-radius: 3px;
    transition: .4s;
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    font-weight: bold;
    font-size: 15px;
}

button:hover {
    background: #369;
    color: white;
}

button:disabled {
    background-image: none;
    color: #FFF;
    background: #ccc;
    border: solid 2px #aaa;
}

.form {
	text-align: center;
}

button.red {
    color: #D22;
    background: #FEE;
    border: solid 2px #D22;
}

button:hover.red {
	background: #D22;
	color: white;
}