table.search_result {
	border-collapse: collapse;
	text-align: left;
	line-height: 1.5;

}
table.search_result thead th {
	padding: 10px;
	font-weight: bold;
	vertical-align: top;
	color: #369;
	border-bottom: 3px solid #036;
}
table.search_result tbody th {
	width: 150px;
	padding: 10px;
	font-weight: bold;
	vertical-align: top;
	border-bottom: 1px solid #ccc;
	background: #f3f6f7;
}
table.search_result td {
	width: 350px;
	padding: 10px;
	vertical-align: top;
	border-bottom: 1px solid #ccc;
}

tbody > tr:hover {
	cursor: pointer;
	color: #1111dd;
	background: #ccc;
}