div.tabbox {
	margin : 15px 0 0 0;
	padding : 0px;
	width : 900px;
	height : 600px;
}

p.tabs {
	margin : 0px;
	padding : 0px;
}

p.tabs a {
	display: block;
	width : 100px;
	float : left;
	margin : 0px 3px 0px 0px;
	padding : 3px;
	text-align: center;
	font-size : 12px
}

p.tabs a.library {
	text-decoration : none;
	background-color : #fafafa;
	border-right : 1px solid #dcdcdc;
	border-left : 1px solid #dcdcdc;
	border-top : 3px solid rgba(170, 0, 0, 0.85);
	color : #666;
	font-weight : 600;
}

p.tabs a.document {
	text-decoration : none;
	background-color : #fafafa;
	border-right : 1px solid #dcdcdc;
	border-left : 1px solid #dcdcdc;
	border-top : 3px solid rgba(0, 170, 0, 0.85);
	color : #666;
	font-weight : 600;
}

p.tabs a:hover {
	opacity : 0.7;
	filter : alpha(opacity = 70);
}

div.tab {
	height : 400px;
	overflow : auto;
	clear : left;
}

div#library {
	border : 2px solid rgba(170, 0, 0, 0.2);
	background-color : #fbfbfb;
}

div#document {
	border : 2px solid rgba(0, 170, 0, 0.2);
	background-color : #fbfbfb;
}

div.tab p {
	margin : 0.5em;
}